.DS_Store
*.pyc
node_modules

.idea/encodings.xml

.idea/encodings.xml

.idea/jQuery-File-Upload.iml

*.iml

.idea/misc.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

*.xml

.idea/vcs.xml

.idea/.name
