# If you have not done so already, please first read SECURITY.md in the root
# directory of this project or online:
# https://github.com/blueimp/jQuery-File-Upload/blob/master/SECURITY.md
#
# The settings in this file require Apache to support configuration overrides
# in .htaccess files, which is disabled by default since Apache v2.3.9 and needs
# to be enabled for the directives in this file to have any effect, see also:
# https://httpd.apache.org/docs/current/mod/core.html#allowoverride
#
# If you have full control over the web server, it is preferrable to define the
# settings in the Apache configuration (e.g. /etc/apache2/apache2.conf) itself.
#
# Some of the directives require the Apache Headers module. If it is not
# already enabled, please execute the following command and reload Apache:
# sudo a2enmod headers
#
# Please note that the order of directives across configuration files matters,
# see also:
# https://httpd.apache.org/docs/current/sections.html#merging

# The following directive matches all files and forces them to be handled as
# static content, which prevents the server from parsing and executing files
# that are associated with a dynamic runtime, e.g. PHP files.
# It also forces their Content-Type header to "application/octet-stream" and
# adds a "Content-Disposition: attachment" header to force a download dialog,
# which prevents browsers from interpreting files in the context of the
# web server, e.g. HTML files containing JavaScript.
# Lastly it also prevents browsers from MIME-sniffing the Content-Type,
# preventing them from interpreting a file as a different Content-Type than
# the one sent by the webserver.
<FilesMatch ".*">
	SetHandler default-handler
	ForceType application/octet-stream
	Header set Content-Disposition attachment
	Header set X-Content-Type-Options nosniff
</FilesMatch>

# The following directive matches known image files and unsets the forced
# Content-Type so they can be served with their original mime type.
# It also unsets the Content-Disposition header to allow displaying them
# inline in the browser.
<FilesMatch ".+\.(?i:(gif|jpe?g|png))$">
	ForceType none
	Header unset Content-Disposition
</FilesMatch>

# Uncomment the following lines to prevent unauthorized download of files:
#AuthName "Authorization required"
#AuthType Basic
#require valid-user
