<?xml version="1.0"?>
<configuration>
  <system.web>
    <httpRuntime maxRequestLength="2097151" />
    <httpHandlers>
      <!-- cassini version -->
      <add path="upload.ashx" verb="*" type="JQueryFileUpload.UploadHttpHandler" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <!-- IIS7 version -->
      <add name="JQueryFileUpload" path="file.upload" verb="*" type="JQueryFileUpload.UploadHttpHandler" />
    </handlers>
  </system.webServer>
</configuration>
